/* This is my configuration that I use with Vesktop (Vencord), previously OpenASAR.
 * You can install OpenAsar here: https://openasar.dev/
 * You can install Vencord here: https://vencord.dev/
 * Install Vesktop here: https://github.com/Vencord/Vesktop/releases
 *
 * To use this, simply open custom theming options and paste the following:
 *
 * @import url("https://nexy7574.co.uk/discord-css/custom.css")
 *
 * Note: The URL previously pointed to the forgejo raw file, however as this did not include CORS or content type, this has been dropped.
 * If that URL ever goes offline, you can just copy and paste the contents of this file into the custom theming options.
 * License: Unlicense (https://git.i-am.nexus/nex/discord-custom-css/src/branch/main/LICENSE)
 * README: https://git.i-am.nexus/nex/discord-custom-css/src/branch/main/README.md
 */

/*
 * Use Whitney font, SansGG sucks, and is hard to read.
 */
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 500;
    src: local('Whitney'), url('https://git.i-am.nexus/nex/discord-custom-css/raw/branch/main/whitneymedium.woff') format('woff');
    /* Can also be found around the internet. */
}

:root {
    --font-primary: "Whitney", Helvetica, Arial, sans-serif !important;
    --font-display: "Whitney", Helvetica, Arial, sans-serif !important;
    /* Use old blurple in many different places.
    * Note that this does override some accessibility settings by ignoring custom contrasts.
    * Please note this isnt because im some angry "change is bad never rebrand >>>:((((((" person,
    * Its because the new blurple hurts my eyes, and looks weird when desaturated.
    */
    --brand-500: #7289DA !important;
}

/* Remove the gift button, since who the hell gifts nitro from their message bar? 
   This will also remove the GIF and Sticker buttons since I don't use those.
   * If you're going to use this yourself, but do use those buttons, you can either:
   * A) Get used to clicking emoji -> GIF/Stickers/Emojis (top left of modal), or pressing ctrl+g, ctrl+s, ctrl+e
   * B) Grow up and not use GIFs and stickers, you actual child
   * C) Not use the custom style sheet.

   Regardless, you can access GIFs by ctrl+g, or emojis->GIFs; Stickers can be accessed in
   the same way, ctrl+s or emojis->Stickers.
   */
button[aria-label="Send a gift"], /* Gift button in the message bar */
button[aria-label="Open GIF picker"], /* GIF button in the message bar */
button[aria-label="Open sticker picker"], /* Sticker selector in the message bar */
div[aria-label^="Buy Boosts"], /* Also remove the "Boost Goal" crap */
div[aria-label="Family Centre"], div[aria-label="Family Center"], /* And the "Family Centre" stuff, I'm not a child. */
div[aria-label="Add Super Reaction"], #message-reaction-1, /* Remove the annoying "Super Reaction" BS */
a[href="/store"], /* Remove the "nitro" store money farm */
div[class^="channelAppLauncher_"]  /* This weird ass "app launcher" that is seperate to the message bar, for some reason? It just takes up space */
{
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}


/* Make NSFW channels highlight red on hover in the channel list

    I find that the NSFW icon on channels is really small and indistinct from normal text channel icons
    so this is easier to notice.
    I experimented with making the icon permanently red, but then it stuck out like a sore thumb.
    I also experimented with only making the text or icon red on hover, however I coudln't get them
    both to change colour at the same time with CSS selectors.
    Maybe I'll look into scripts in the future.
    */
a:has(div[aria-label^="Text (Age-Restricted) icon"]):hover
{
    color: #fff !important;
    background-color: #ED4245AA !important;
}
